<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <rewrite>
      <rules>
		<rule name="ReverseProxyInboundRule1" stopProcessing="true">
		  <match url="(.*)" />
		  <conditions>
			<add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
		  </conditions>
		  <action type="Rewrite" url="http://localhost:5000/pto-track/{R:1}" />
		</rule>
      </rules>
    </rewrite>
    <proxy enabled="true" />
    <aspNetCore processPath=".\pto.track.exe" arguments="" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" hostingModel="outofprocess" />
  </system.webServer>
</configuration>