p, body, td, input, select, button {
  font-family: -apple-system,system-ui,BlinkMacSystemFont,'Segoe UI',Roboto,'Helvetica Neue',Arial,sans-serif;
  font-size: 14px;
}

body {
  padding: 0px;
  margin: 0px;
  background-color: #ffffff;
}

a {
  color: #1155a3;
}

.space {
  margin: 10px 0px 10px 0px;
}

.header {
  background: #003267;
  background: linear-gradient(to right, #011329 0%,#00639e 44%,#011329 100%);
  padding: 20px 10px;
  color: white;
  box-shadow: 0px 0px 10px 5px rgba(0,0,0,0.75);
}

.header a {
  color: white;
}

.header h1 a {
  text-decoration: none;
}

.header h1 {
  padding: 0px;
  margin: 0px;
}

.main {
  padding: 10px
}


/* buttons */

.buttons {
    margin-bottom: 15px;
    display: inline-flex;
}

.buttons button {
    background-color: #f3f3f3;
    color: #333333;
    border: 1px solid #c0c0c0;
    padding: .5rem 1rem;
    width: 80px;
    font-size: 14px;
    cursor: pointer;
    margin-right: 3px;
    transition: all 0.2s;
    box-sizing: border-box;
}

.buttons button.selected {
    background-color: #e3e3e3;
    box-shadow: 0 3px 5px rgba(0,0,0,0.1);
}

.buttons button:first-child {
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}

.buttons button:last-child {
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
}

.buttons button:hover {
    background-color: #e0e0e0;
}

.buttons button:active {
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.main {
    display: flex;
}
.left {
    margin-right: 10px;
}
.right {
    flex-grow: 1;
}

/* date picker */
body .navigator_default_busy.navigator_default_cell .navigator_default_cell_text {
    box-sizing: border-box;
    background-color: #aaaaaa;
    color: #ffffff;
    border-radius: 50%;
}

body .navigator_default_select .navigator_default_cell_box {
    background-color: transparent;
    opacity: 1;
}
body .navigator_default_cell.navigator_default_select .navigator_default_cell_text {
    background-color: #666666;
    color: #ffffff;
    border-radius: 50%;
    opacity: 1;
}

body .navigator_default_todaybox {
    border: none;
}
body .navigator_default_today .navigator_default_cell_text {
    text-decoration: underline;
}

/* calendar events */
body .calendar_default_event_inner {
    border-radius: 15px;
    background: #999999;
    border: 1px solid #666666;
}

body .calendar_default_shadow,
body .calendar_default_shadow_inner {
    border-radius: 15px;
}

/* calendar header active areas */
.calendar_default_main .area_action {
    background-color: #ffffff;
    color: #666666;
    border-radius: 50%;
    border: 1px solid #666666;
    padding: 5px;
    cursor: pointer;
    box-sizing: border-box;
    opacity: 0.8;
}
.calendar_default_main .area_action:hover {
    opacity: 1;
}
